a.poker {
    min-height:100px; height:100px;
    min-width:71px; width:71px;
    line-height:90px;
    font-size: 2em;
}
div.poker-table, div.poker-table div.panel-body {
    height:300px;
    position: relative;
}

div.poker-table div.row {
    position: relative;
    height: 150px;
    top: 25%;
}

.circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: gray;
    display: inline-block;
    position: absolute;
}

.circle.big {
    width: 150px;
    height: 150px;
    background-color: #428bca;
    position: relative;
    z-index: 1;
}

.rec {
    display: inline-block;
}


.rec.big {
    border-radius: 20%;
    width: 300px;
    height: 150px;
    background-color: #428bca;
    position: relative;
    z-index: 1;
}